body {
    background-color: #FFFFFF;
    color: #434455;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}



.container {
    display: flex;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    line-height: 1.5;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e7e9fc;
}

.navigation-tag {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;

    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
}

.navig-list {
    margin-right: 40px;
}

.navig-list-end {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-right: 0px;
    padding: 24px 0;
}

.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    padding: 24px 0;
}

.studio a:hover {
    color: #404bbf;
}

.studio a:focus {
    color: #404bbf;
}

.navigation {
    display: flex;
}

.navigation a {
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
}

.navigation a:hover {
    color: #404BBF;
}

.navigation a:focus {
    color: #404BBF;
}

.address {
    display: flex;
} 

.info {
    font-style: normal;
}

.info a {
    text-decoration: none;
}

.mail {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;

    margin-right: 40px;
    gap: 40px;
}

.first-hujnia {
    margin-right: 40px;
}

.second-hujnia {
    margin-right: 0;
}

.telef {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;

    margin-right: 0px;
    gap: 40px;
}


.info a:hover  {
    color: #404bbf;
}

.info a:focus {
    color: #404bbf;
}



.first-section {
    padding: 188px 0;
}

.main-page {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.title-main {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;

    max-width: 496px;
}

.btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
}

button:hover {
    background-color: #404BBF;
}

button:focus {
    background-color: #404BBF;
}



.second-sec {
    padding: 120px 0;
}

.list-team {
    display: flex;
    gap: 24px;
}

.frst-pic {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.visually-hidden {
    max-width: 496px;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.strategy {
    letter-spacing: 0.02em;
}



.third-sec {
    padding: 120px 0;
}

.container-team {
    background-color: #F4F4FD;
}

.list-team {
    display: flex;
    gap: 24px;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}
.hiro {
    background-color: #FFFFFF;

    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.title-team {
    text-align: center;
    margin-bottom: 8px;
}
.container1 {
    padding: 32px 0;
}
.team-p {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #434455;
}




.fourth-sec {
    padding-top: 120px;
    padding-bottom: 120px;
}

.container-list-port {
    padding: 32px 0;
}

.list-portf {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.frst-portf {
    width: calc((100% - 48px) / 3);
}

.details-portf {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.portfolio-category {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}





.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    display: inline-block;
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    
    margin-right: 76px;
    margin-bottom: 16px;
}
.span-footer {
    color: #f4f4fd;
}
.p-footer {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
